[submodule "RECVIS/Project/RECVIS-transporter-networks"]
	path = RECVIS/Project/RECVIS-transporter-networks
	url = https://github.com/MatiasEtcheve/RECVIS-transporter-networks.git
[submodule "AERO/TD"]
	path = AERO/TD
	url = https://github.com/MatiasEtcheve/AERO.git
[submodule "KM/Projet/KM-graph-classification"]
	path = KM/Projet/KM-graph-classification
	url = git@github.com:MatiasEtcheve/KM-graph-classification.git
[submodule "TS/Project/TS-MDL"]
	path = TS/Project/TS-MDL
	url = git@github.com:MatiasEtcheve/TS-MDL.git
[submodule "SLP/SLP-Canine"]
	path = SLP/SLP-Canine
	url = git@github.com:MatiasEtcheve/SLP-Canine.git
